{% extends "base.html" %}
{% block body %}
<h3>Albums</h3>
<div class="album-grid">
    {% for album in albums %}
        <div class="album-item">
            <a href="{{ url_for('album', album_name=album.name) }}">
                <div class="album-preview">
                    {% if album.preview %}
                        <img src="{{ url_for('serve_file', filename=album.name + '/' + album.preview) }}" alt="Preview of {{ album.name }}" loading="lazy">
                    {% endif %}
                </div>
                <div class="album-title">
                    <span>{{ album.name }}</span>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}